<div id="socialmediaicons">
  <ul >
  <li><%= link_to image_tag("linkedinlogo.png", alt: "LinkedIn profile"), 'https://co.linkedin.com/in/carolinahernandezguarin'%></li>
  <li><%= link_to image_tag("twitterlogo.png", alt: "Twitter profile"), 'https://twitter.com/CCarolinahgo'%></li>
  <li><%=link_to image_tag("instagramlogo.png", alt: "Instagram Profile"), 'https://www.instagram.com/ccarolinahgo/'%></li>
  <li><%=link_to image_tag("facebooklogo.png", alt: "Facebook Profile"), 'https://www.facebook.com/ccarolinahgo'%></li>
  </ul>
</div>

<h1 id="name">
  CAROLINA HERNÁNDEZ
</h1>
<h3 id="statement">
  HAPPY DEV - ENTREPRENEUR
</h3>

<div id="header">
  <ul id="ulheader">
    <li id="contact">About Me</li>
    <li>Portfolio</li>
    <li>Blog</li>
    <li>Projects</li>
    <li id="contact">Contact Me</li>
  </ul>
</div>


<div class="container">
  <div class="row" id="intro">
    <div class="col-md-3">
      <%= image_tag("carolina.png", alt: "Carolina", :class=> "personalpic")%>
    </div>
    <div class="col-md-7">
      <p id="intro">
        I’m a junior full stack web developer graduated from Wyncode with managing skills acquired at Universidad de los Andes. I’m passionate about developing ideas that combine physical resources with technology to potentialize services. This passion has been evolving through the years. It first started while I was at business school and had the opportunity to take part of a research study about tech companies. It then consolidated while working in different roles as a member of the Bunny Inc. team, a start-up that quickly became a scale-up by offering services to outsource creative content. At this moment was when I decided to broaden my knowledge in technology and learn how to code.
        <br></br>
        I speak both spanish and english fluently. I have used both languages in academic and work settings. My working assets include planning and execution, creativity, teamwork and research. I work continuously on improving my knowledge on business growth, programing and design. The latter has always been a passion of mine and has led me to self teach me to use programs like sketch.
        <br></br>
        I feel strongly about promoting the start-up ecosystem in Colombia and I’m always open to contribute on projects that aim to turn the tech industry a more inclusive scene for women.
      </p>
    </div>
</div>

<div>
  <h3 id="aboutme">
  ABOUT ME
  </h3>
</div>
